AIRTABLE_API_KEY=
AIRTABLE_BASE_ID=
APP_URL=https://project-d3-pi.vercel.app
DISCORD_WEBHOOK_URL=
GEMINI_API_KEY=
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
PAYPAL_CLIENT_ID=
PAYPAL_CLIENT_SECRET=
SMTP_FROM=
SMTP_HOST=
SMTP_PASS=
SMTP_PORT=
SMTP_USER=
STRIPE_SECRET_KEY=
VITE_APP_URL=https://project-d3-pi.vercel.app
VITE_GOOGLE_DRIVE_API_KEY=
VITE_GOOGLE_DRIVE_CLIENT_ID=
VITE_PAYPAL_CLIENT_ID=
VITE_STRIPE_PUBLISHABLE_KEY=